@font-face{
    font-family:"Orna-Regular";
    src: url("Orna-Regular.woff") format("woff");
}


.bottom {
    position: fixed;
    bottom: -1.3%;
    left: 63%;
    width: 100%;
    background: transparent;
    padding: 15px 10px;
}

.bottom__container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

.progress {
    width: 3%;
    height: 716px;
    position: relative;
    border-radius: 8px;
    overflow:hidden;
    background-color: transparent;
    border: 2px solid #000;
    margin-bottom: 2%;
    background: #e6fff8;
}

.progress__inner {
    position: absolute;
    top: 0;
    border-radius: 10px;
    height: 100%;
    left: 0;
    width: 0%;
    background-image:-webkit-linear-gradient(top right, #b8ffce 0%, #bbe0ed 32%, #66ff95 69%, #0adbff 80%, #367fff 100%);
    transition:.4s width linear;
     bottom: 20%;
}

.navigation__btn path{
  fill: black;
}
.navigation {
    display: flex;
    align-items: center;
}

.navigation__btn {
    display: flex;
    align-items: center;
    width: auto;
    justify-content: center;
    height: 100px;
}

.navigation__btn--left{
    position: absolute;
    right: 22%;
    bottom: 28%;
}

.navOutline{
    position: absolute;
    top: 84.5%;
    left: 85.5%;
    border-radius: 10px;
    border: 2pt solid black;
    width: 230px;
    height: 120px;
}

.navigation__btn--right{
    position: absolute;
    margin-top: 7%;
    margin-left: 30.5%;
    font-size: 7em;
    align-content: center;
}

.quiz__question{
  position: absolute;
  top: 4%;
  left: 3%;
  font-weight:500;
  letter-spacing:1px;
  font-size: 6em;
}

.quiz__summary{
    justify-content: center;
}

#quizImgOuter{
    position: absolute;
    left: 24%;
    top: 25%;
}

#quizImgOuter2{
    position: absolute;
    left: 64.5%;
    top: 26.5%;
}

#quizImgOuter3{
    position: absolute;
    left: 24%;
    top: 64%;;
}

#quizImgOuter4{
    position: absolute;
    left: 64.5%;
    top: 64%;
}

#quizImgOuter5{
    position: absolute;
    left: 24%;
    top: 25%;
}

#quizImgOuter6{
    position: relative;
    left: 102px;
    top: -57px;
}

#quizImgOuter7{
    position: relative;
    left: 106px;
    top: -57px;
}

#quizImgOuter8{
    position: relative;
    left: 97px;
    top: -57px;
}

#quizImgOuter9{
    position: relative;
    left: 160px;
    top: -56px;
}

#quizImgOuter10{
    position: relative;
    left: 190px;
    top: -56px;
}

#quizImgOuter11{
    position: relative;
    left: 100px;
    top: -56px;
}

#quizImgOuter12{
    position: relative;
    left: 210px;
    top: -56px;
}

#quizImgOuter13{
    position: relative;
    left: 252px;
    top: -58px;
}

#quizImgOuter14{
    position: relative;
    left: 249px;
    top: -58px;
}

#quizImgOuter15{
    position: relative;
    left: 254px;
    top: -58px;
}

#quizImgOuter16{
    position: relative;
    left: 260px;
    top: -58px;
}

#quizImgOuter17{
    position: relative;
    left: 172px;
    top: -58px;
}

#quizImgOuter18{
    position: relative;
    left: 133px;
    top: -58px;
}

#quizImgOuter19{
    position: relative;
    left: 156px;
    top: -58px;
}

#quizImgOuter20{
    position: relative;

    left: 152px;
    top: -58px;
}

.quizImg1{
    position: absolute;
    height: 300px;
    width: 300px;
}



/*underline
.reset {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  font-size: 1.5em
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.reset:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background-image: linear-gradient(120deg, #54ff00 0%, #c8fcff 100%);
  background: aqua;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.reset:hover:after { 
  width: 100%; 
  left: 0; 
}
*/

.btn
{
    font-size: 3em;
    position: relative;
    padding: 15px 30px;
    margin: 30px;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 55px;
    border: 2px solid #000;
    transition: 0.5s;
    overflow: hidden;
    margin-top: 98%;
}
.btn:hover
{
 background: linear-gradient(90deg, #e6fff8, #ffffff);
}
.btn::before
{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,transparent,#fff,transparent);
    transition: 0.5s;
}
.btn:hover::before
{
    left: 100%;
}

.quiz__end{
  font-weight:500;
  letter-spacing:1px;
  text-align: center;
  font-size: 4em;
}

/*
#quizLink:after {
    content: '';
    width: 5%;
    height: 5%;
    position: absolute;
    left: auto;
    top: 0;
    bottom: 0;
    right: 0%;
    background-image: 
      linear-gradient(135deg, 
        rgba(255,255,255,0),
        rgba(255,255,255,.8),
        rgba(255,255,255,0)
      );
  }
  #quizLink:hover:after {
    transition: all .4s ease-out;
      right: 100%;
    }
*/



#end{
  position: absolute;
  left: 0%;
  bottom: 45%;
  font-size: 10em; 
  letter-spacing:1px;
  width: 100%;
  text-align: center;
}

.container {
    display: flex;
    height: calc(100% - 74px);
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
}

/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
/*  display: block;*/
  position: relative;
  padding-left: 35px;
  margin-bottom: 13px;
/*  font: 14px/20px 'Open Sans', Arial, sans-serif;*/
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  background: #e6fff8;
  position: absolute;
  width:746px;
    height: 345px;
  top: -54%;
  left: -2.5%;  
    border-radius: 10px; 
  opacity: 0;
  
}

input[type="checkbox"]:checked + label:before {
  content: '';
  background: #e6fff8;
  position: absolute;
  width:746px;
    height: 345px;
  top: -54%;
  left: -2.5%;  
    border-radius: 10px; 
  opacity: .8;
    z-index: 1;
}

/*
.answer__input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 1px;
    height: 1px;
    position: absolute;
  outline:none !important;
}
*/
.answer__label {
    width: 540px;
    font-size: 4em;
    font-weight: 400;
    left: 0%;
    display: block;
    margin-top: 5%;
    margin-left: 2%;
}


/*
.answer {
    display: inline-block;
    margin-right:10px;
}
*/

.quiz__answer {
    text-align: left;
}

#laughOuter{
    position: absolute;
    width: 150px;
    height: auto;
    left: 152px;
    top: -58px;
}

#laughOuter2{
    position: absolute;
    width: 150px;
    height: auto;
    left: 152px;
    top: -58px;
}

#laughOuter3{
    position: absolute;
    width: 150px;
    height: auto;
    left: 152px;
    top: -58px;
}

#laughOuter4{
    position: absolute;
    width: 150px;
    height: auto;
    left: 152px;
    top: -58px;
}

#laughOuter5{
    position: absolute;
    width: 150px;
    height: auto;
    left: 152px;
    top: -58px;
}

#laughOuter6{
    position: absolute;
    width: 150px;
    height: auto;
    left: 152px;
    top: -58px;
}

#laughOuter7{
    position: absolute;
    width: 150px;
    height: auto;
    left: 152px;
    top: -58px;
}

#laughOuter8{
    position: absolute;
    width: 150px;
    height: auto;
    left: 152px;
    top: -58px;
}
#laughOuter9{
    position: absolute;
    width: 150px;
    height: auto;
    left: 152px;
    top: -58px;
}

#laughOuter10{
    position: absolute;
    width: 150px;
    height: auto;
    left: 152px;
    top: -58px;
}

#laughOuter11{
    position: absolute;
    width: 150px;
    height: auto;
    left: 152px;
    top: -58px;
}


    


/*
.answer__input:checked + .answer__label{
  border-color:#5861af;
  color:#14152C;
  box-shadow: 0px 0px 1px 4px rgba(88,97,175, 0.2)
}

.answer__input:checked + .answer__label .answer__tick{
  opacity:1;
  visibility:visible;
}
*/

/*
.answer__char {
    line-height: 24px;
    display: inline-block;
    width: 26px;
    text-align: center;
    font-size: 13px;
    border-radius: 4px;
    color: #c8cae0;
    border: 1px solid #c8cae0;
    font-weight: 600;
    vertical-align: middle;
    margin-right: 15px;
}
*/

.answer__tick {
    display: inline-block;
    vertical-align: middle;
    background-color: #5861af;
    margin-left: 20px;
    line-height: 14px;
    padding: 4px;
    opacity:0;
    visibility:hidden;
}

.answer__tick path{
  fill:#fff
}

/*
.quiz__inner{
   max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
*/

.quiz__step:not(.quiz__step--current){
  visibility:hidden;
  opacity:0;
  display:none;
}

.quiz__step{
  display: grid;
  grid-template-columns: repeat(2, 750px);
  grid-template-rows: repeat(2, 350px);
  grid-gap: 20px;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  justify-content: center;
  margin-top: 16%;
  margin-left: -20.5%;
}

.grid-one {
  grid-column: 1 / 2;
  grid-row: 1;
  border: 2px solid black;
  border-radius: 10px;
}
.grid-two { 
  grid-column: 2 / 2;
  grid-row: 1;
  border: 2px solid black;
  border-radius: 10px;
}
.grid-three {
  grid-column: 1 / 2;
  grid-row: 2;
  border: 2px solid black;
  border-radius: 10px;

}
.grid-four {
  grid-column: 2 / 4;
  grid-row: 2;
  border: 2px solid black;
  border-radius: 10px;
}

/*
.quiz__step--2 {
  display: grid;
  grid-template-columns: repeat(2, 750px);
  grid-template-rows: repeat(2, 350px);
  grid-gap: 20px;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  justify-content: center;
  margin-top: 16%;
  margin-left: -20.5%;
}

.quiz__step--4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0px;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
 justify-content: center;
}

.quiz__step--5 {
  display: grid;
  grid-template-columns: repeat(2, 750px);
  grid-template-rows: repeat(2, 350px);
  grid-gap: 20px;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  justify-content: center;
  margin-top: 16%;
  margin-left: -20.5%;
}

.quiz__step--6 {
  display: grid;
  grid-template-columns: repeat(2, 750px);
  grid-template-rows: repeat(2, 350px);
  grid-gap: 20px;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  justify-content: center;
  margin-top: 16%;
  margin-left: -20.5%;
}

.quiz__step {
  display: grid;
  grid-template-columns: repeat(2, 750px);
  grid-template-rows: repeat(2, 350px);
  grid-gap: 20px;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  justify-content: center;
  margin-top: 16%;
  margin-left: -20.5%;
}
*/




.quiz__step:not(.quiz__step--current){
  visibility:hidden;
  opacity:0;
  display:none;

}



.navigation__btn--disabled {
    opacity: 0.4;
}
.submit__container {
    margin-top: 27px;
    margin-bottom: -5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    text-align: center;
}

